/* Font */

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

/* Main Rules */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat";
  font-size: 10px;
}

.c-main {
  color: #ff6060;
}

/* NAVBAR */

header {
  margin: auto;
}

nav {
  display: flex;
  margin: 0 20px;
  padding-top: 20px;
  justify-content: space-between;
}

nav img {
  width: 145px;
}

nav div {
  width: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav div a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 142.6%;
}

nav div a:first-child {
  padding-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 210px;
  padding: 25px 0;
}

footer img {
  width: 122px;
}

footer h2 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 142.6%;
}

/* Pages */
div.App {
  min-height: 100vh;
}

.page-container {
  margin: auto;
  min-height: calc(100vh - 67px - 210px);
}

/* Home */
.p-t-home {
  padding-top: 1.6rem;
}

.home-banner {
  display: flex;
  align-items: center;
  width: 335px;
  height: 111px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
  overflow: hidden;
  margin: auto;
}

.home-banner img {
  mix-blend-mode: darken;
}

.home-banner h2 {
  position: absolute;
  width: 217px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
  text-shadow: #000 0px 0px 4px;
  margin-left: 16px;
  cursor: default;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  margin: 20px 0;
  transition: all ease-in-out 0.2s;
}

.box,
.box img {
  position: relative;
  width: 335px;
  height: 255px;
  border-radius: 10px;
  object-fit: cover;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.box h3 {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 295px;
  color: #fff;
  text-shadow: #000 0px 0px 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}

/* About */
.p-t-about {
  padding-top: 17px;
}

.about-banner {
  display: flex;
  align-items: center;
  width: 335px;
  height: 223px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}

.about-banner img {
  mix-blend-mode: darken;
}

.collapse {
  width: 335px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  border-radius: 5px;
  padding: 0 12px;
  margin: auto;
  margin-bottom: 20px;
}

.collapse h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.collapse div {
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse div:hover {
  cursor: pointer;
}

.collapse .up,
.collapse .down {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: 0.2s;
}

.collapse .up {
  transform: translateY(25%) rotate(135deg);
}

.collapse .down {
  transform: translateY(-25%) rotate(-45deg);
}

.panel-collapse {
  position: relative;
  top: -22px;
  width: 335px;
  max-height: 500px;
  margin: auto;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.panel-collapse.close {
  max-height: 0px;
}

.panel-info {
  color: #ff6060;
  background-color: #f6f6f6;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: justify;
  padding: 10px 15px;
  border-radius: 0 0 5px 5px;
}

.panel-info:last-child {
  margin-bottom: 20px;
}

/* Logement/:id */
.p-t-house {
  margin-top: 27px;
}

.slide-show-container {
  width: calc(100% - 40px);
  margin: 30px auto 10px;
  height: 255px;
}

.slide-show {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1240px;
  border-radius: 10px;
  overflow: hidden;
}

.slide-show div {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.slide-show div:first-child {
  left: 8px;
}

.slide-show div:nth-child(2) {
  right: 8px;
}

.left,
.right {
  display: inline-block;
  width: inherit;
  height: inherit;
  border-top: 3px solid #f6f6f6;
  border-left: 3px solid #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0.5px;
}

.left {
  transform: rotate(-45deg);
}

.right {
  transform: rotate(135deg);
}

.slide-show img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.infos {
  width: calc(100% - 40px);
  margin: auto;
}

.infos-title h1,
.infos-title p,
.infos-owner p {
  color: #ff6060;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.infos-title h1 {
  font-size: 1.8rem;
  line-height: 26px;
  margin-bottom: 5px;
}

.infos-title p {
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 10px;
}

.infos-owner p {
  font-size: 1.2rem;
  line-height: 17px;
}

.infos-owner img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 16px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 18px;
  color: #fff;
  background-color: #ff6060;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
  line-height: 142.6%;
  letter-spacing: 0em;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.infos-owner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infos-collapse {
  margin: auto;
}

/* 404 */

.container-404 {
  min-height: calc(100vh - 67px);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.container-404 h1 {
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 142.6%;
}

.container-404 p {
  font-size: 1.8rem;
  margin: 0 57px;
  line-height: 142.6%;
}

.container-404 a {
  font-size: 1.4rem;
  line-height: 142.6%;
}

/* Media Queries */

@media all and (min-width: 550px) {
  /* Banner */
  .home-banner,
  .about-banner,
  .collapse,
  .panel-collapse,
  .infos-collapse {
    width: calc(100% - 200px);
  }

  .home-banner-container {
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
  }

  /* Home page */
  .home-container {
    margin: 43px auto;
    width: calc(100% - 200px);
  }

  /* Logement */
  .slide-show div {
    width: 25px;
    height: 25px;
  }

  .slide-show div:first-child {
    left: 15px;
  }

  .slide-show div:nth-child(2) {
    right: 15px;
  }

  .infos {
    width: calc(100% - 100px);
  }

  .infos-owner img {
    width: 64px;
    height: 64px;
  }

  .infos-collapse .collapse {
    height: 52px;
  }
}

@media all and (min-width: 900px) {
  /* Global CSS */
  html {
    font-size: 12px;
  }

  nav div {
    width: 20%;
  }

  footer h2 {
    font-size: 1.6rem;
  }

  /* Modules */

  .box {
    margin: 35px 0 0 0;
  }

  .box,
  .box img {
    width: 340px;
    height: 340px;
  }

  /* Banner */
  .home-banner {
    height: 150px;
  }

  .home-banner-container,
  .about-banner-container {
    width: auto;
    max-width: 1240px;
  }

  .home-banner h2 {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  /* Home page */
  .home-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-evenly;
    padding: 0 50px 50px 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
  }

  /* About */
  .p-t-about {
    padding-top: 24px;
  }

  .collapse,
  .panel-collapse {
    max-width: 1025px;
  }

  .collapse {
    height: 45px;
    padding: 0 20px;
  }

  .collapse div {
    width: 45px;
    height: 45px;
  }

  .collapse .up,
  .collapse .down {
    width: 16px;
    height: 16px;
  }

  /* Logement */
  .slide-show-container {
    width: calc(100% - 200px);
    height: 315px;
    margin: 25px auto 30px;
  }

  .left,
  .right {
    border-top: 5px solid #f6f6f6;
    border-left: 5px solid #f6f6f6;
  }

  .infos {
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-around;
  }

  .infos-title {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .tag {
    width: 115px;
    height: 25px;
  }

  .rating-container {
    display: flex;
    width: 50%;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .infos-collapse .collapse,
  .infos-collapse .panel-collapse {
    width: 580px;
  }
}

@media all and (min-width: 1440px) {
  html {
    font-size: 15px;
  }

  header,
  .page-container {
    width: 1440px;
  }

  /* Home page */
  .home-banner,
  .home-container {
    width: 1240px;
  }

  .home-banner {
    height: 223px;
  }

  .box {
    margin: 50px 0 0 0;
  }

  /* 404 */
  .container-404 h1 {
    font-size: 19.2rem;
  }

  .container-404 p {
    font-size: 2.4rem;
  }

  .container-404 a {
    font-size: 1.2rem;
  }

  /* About */
  .p-t-about {
    padding-top: 44px;
  }

  /* Logements */
  .slide-show-container {
    height: 415px;
  }

  .slide-show div {
    width: 35px;
    height: 35px;
  }

  .slide-show div:first-child {
    left: 25px;
  }

  .slide-show div:nth-child(2) {
    right: 25px;
  }

  .infos-collapse {
    display: flex;
  }

  .infos-collapse section {
    width: 50%;
  }

  .infos-collapse .panel-info {
    padding: 20px 30px;
    height: 250px;
  }
}

@media all and (min-width: 2440px) {
  html {
    font-size: 20px;
  }

  .box {
    margin: 80px 0 0 0;
  }

  .infos-owner img {
    width: 100px;
    height: 100px;
  }
}
